/* Syntax highlighting styles for Duso code */

code {
  color: var(--pico-contrast) !important;
}

comment {
  color: #676c71;
  font-style: italic;
}

string {
  color: #398712;
}

constant {
  color: #9236A4;
  font-weight: bold;
}

keyword {
  color: #3C71F7;
  font-weight: bold;
}

builtin {
  color: #D24317;
  font-weight: bold;
}
