body .container {
  max-width: 1200px;
}

footer i, footer p, footer small {
  display: block;
  text-align: center;
}

main>nav {
  border-bottom: 1px solid var(--pico-muted-color);
  margin-bottom: 3rem;
}

body>footer {
  border-top: 1px solid var(--pico-muted-color);
}

body>footer form[role="search"] {
  max-width: 20rem;
  display: flex;
  margin: 1rem auto;
}

footer i {
  margin-bottom: 1rem;
}

body>main {
  margin-top: 1rem !important;
}

.logo {
  margin-bottom: .5rem;
  margin-right: 1rem;
  max-height: 2rem;
}

